[Unit]
Description=Timer for X11 Keymap Modifying Engine.

[Timer]
OnBootSec=2m
OnUnitActiveSec=2m
Unit=smore.service

[Install]
WantedBy=timers.target
